.grd{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 50px;
}
.dr1{
	background-color: red;
}
.dr2{
	background-color: blue;
}
.dr3{
	background-color: brown;
}
.dr4{
	background-color: yellow;
}
.dr5{
	background-color: purple;
}
.dr6{
	background-color: white;
}
.stylesOfDiv{
	border-style: solid;
	border-width: 5px;
	border-color: black;
	border-radius: 30px;
	padding: 5px 5px 5px 5px;
	transition: 1s;
}
.stylesOfDiv:hover{
	background-color: grey;
	color: white;
	text-shadow: 0 0 5px black;
	box-shadow: 5px 5px 5px orange;
	border-radius: 30px 0 30px 0;
}
h1{
	text-align: center;
}
.h4{
	text-align: center;
}
.img{
	border-radius: 30px;
	width: 100%;
	height: minmax(300px, 1fr;)
}